.about{
    max-width: 1000px;
    align-self: center;
    display: flex;
    gap: 50px;
    border-bottom: 1px solid black;
    padding: 50px;
}

.name-description-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.name{
    font-size: 50px;
    font-weight: 800;
}   

.profile-image{
    border-radius: 50%;
}

.description{
    font-size: 30px;
    font-weight: 500;
}

.icons{
    display: flex;
    gap: 10px;
}

.icon{
     min-width: 22px;
     max-width: 25px;
     padding: 3px;
}

.about-button{
    font-size: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(187, 177, 177);
    transition: background-color 0.25s;
    transition: transform 0.25s;
}

.about-button:hover{
    background-color: rgb(100, 96, 96);
    transform: scale(1.05);
}

.about-buttons{
    display: flex;
    justify-content: start;
    gap: 20px;
}

@media (max-width: 800px) {
    .about{
        display: flex;
        flex-direction: column;
        gap: 50px;
        border-bottom: 1px solid black;
        padding: 50px;
        max-width: 100%;
    }

    .profile-image{
        max-width: min(320px,100%);
    }
    .profile-image-container{
        display: flex;
        justify-content: center;
        order: 1;
    }

    .name-description-section{
        order: 2;
        gap: 25px;
    }

    .name{
        font-size: 40px;
        font-weight: 600;
    }  

    .icons{
        justify-content:center;
    }

    .description{
        font-size: 20px;
    }

    .about-buttons{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

}

