.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: sticky;
    align-items: center;
}

.header-name{
    font-size: 40px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-style: bold;
}