.header{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    align-items: center;
}

.dark-mood-icon{
    max-width: 60px;
    transition: transform 0.5s;
}


.dark-mood-icon:hover{
    transform: scale(1.4);
}